DATABASE_URL="mysql://oficina:oficina@localhost:3306/oficina"
JWT_SECRET="super-secret-key"
PORT=3000
SUPABASE_URL="https://qzdwoefddqebbwimcpfm.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_p_Rb5XWZo8_l1bV0cmfeqQ_eGIWIfPm"
SUPABASE_STORAGE_BUCKET="appoutz-file"
